.giphy-search {
  padding: 15px;
  position: sticky;
  top: 0;
  font-weight: normal;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  background-color: #0090ea;
  padding: 35px;
}

input {
  text-decoration: none;
  border: none;
  padding: 8px;
  margin: 4px 12px;
}

input[type=text] {
  border-radius: 12px;
}

input[type=button] {
  border-radius: 3px;
}